<!DOCTYPE html>
<html lang="en">

 

<!-- Mirrored from sidehustlegig.live/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Feb 2025 07:55:29 GMT -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="" />
    <meta name="title" content="dropshippingmininganalyst | Global Leading Trading Platform">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
     
    <!-- title  -->
    <title>dropshippingmininganalyst | Global Leading Trading Platform</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png">
      <link rel="shortcut icon" href="https://www.cryptomininganalyst.com/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="72x72" href="https://www.cryptomininganalyst.com/img/logos/apple-touch-icon-72x72.html">
    <link rel="apple-touch-icon" sizes="114x114" href="https://www.cryptomininganalyst.com/img/logos/apple-touch-icon-114x114.html">

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <!-- revolution slider css -->
    <link rel="stylesheet" href="css/rev_slider/settings.css">
    <link rel="stylesheet" href="css/rev_slider/layers.css">
    <link rel="stylesheet" href="css/rev_slider/navigation.css">

    <!-- search css -->
    <link rel="stylesheet" href="https://www.cryptomininganalyst.com/search/search.html" />

    <!-- custom css -->
    <link href="css/styles.css" rel="stylesheet" id="colors">
	<style>body {
	font-family: "Open Sans", sans-serif;
}
h2 {
	color: #333;
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #8fbc54;
	left: 0;
	right: 0;
	bottom: -10px;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	padding: 0 70px;
}
.carousel .carousel-item {
	color: #999;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	min-height: 290px;
}
.carousel .carousel-item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #7AA641;
}
.carousel-control-prev, .carousel-control-next {
	width: 40px;
	height: 40px;
	margin-top: -20px;
	top: 50%;
	background: none;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 68px;
	line-height: 42px;
	position: absolute;
	display: inline-block;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 12px;
	height: 12px;
	margin: 1px 3px;
	border-radius: 50%;
	border: none;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
</style>


</head>
  <!-- start page loading -->
    
    <!-- end page loading -->
<body>
 <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        <!-- start header section -->
        <header>
             <div id="top-bar" style="background:#85c201;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-xs-12">
                            <div class="top-bar-info">
                                <ul>&nbsp;
                                    <a href="contact-us"><li><i class="fas fa-map-marker-alt"></i>Contact Us</li></a>&nbsp;
                                    <a href="/register"><li><i class="fas fa-user-plus"></i>Create Account</li></a>&nbsp;
                                    <a href="/login"><li><i class="fas fa-sign-in-alt"></i>Sign In</li></a>
									 
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-7 col-xs-12 xs-display-none">
                            <div class="top-bar-info">
                               <ul>
                                    <li><i class="fas fa-award"></i>An award-winning online broker offering CFDs on forex, Cryptocurrencies, Stocks and lots more.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="navbar-default">

                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light no-padding">

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="#" class="navbar-brand logodefault"><img id="logo" src="logo.jpg" alt="logo"></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler"></div> 

                                    <!-- menu area -->
                                    <ul class="navbar-nav ml-auto" id="nav" style="display: none;">

                                        <li><a href="#">Home</a></li>

                                        <li><a href="javascript:void(0)">About</a>
                                            <ul>
                                                <li><a href="/why-forex-boss">Why cryptomininganalyst</a></li>
                                                <li><a href="/contact-us">Contact Us</a></li>
                                                <li><a href="/company-news">Company News</a></li>
                                             
                                                <li><a href="/licences-and-regulation">Licences & Regulation</a></li>
                                                <li><a href="/terms-and-conditions">Terms & Conditions</a></li>
                                                <li><a href="/privacy-policy">Privacy Policy</a></li>
                                                <li><a href="/risk-warning">Risk Warning</a></li>
                                                <li><a href="/safety-of-funds">Safety of Funds</a></li>
                                                <li><a href="/faqs">FAQ</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">Products</a>
                                            <ul>
                                                <li><a href="/forex">Forex</a></li>
                                                <li><a href="/cfds">CFDs</a></li>
                                                <li><a href="/stock">Stock</a></li>
                                                <li><a href="/cryptocurrencies">Cryptocurrencies</a></li>
                                                <li><a href="/metals">Metals</a></li>
                                                <li><a href="/indices">Indices</a></li>
                                                <li><a href="/commodities">Commodities</a></li>
                                                <li><a href="/futures">Futures</a></li>
                                                <li><a href="/shares">Shares</a></li>
                                                <li><a href="/energies">Energies</a></li>
                                                <li><a href="/bonds">Bonds</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">Accounts</a>
                                            <ul>
                                                <li><a href="/account-types">Account Types</a></li>
                                                <li><a href="/">Spreads</a></li>
                                                <li><a href="/deposits-and-withdrawal">Deposits & Withdrawal</a></li>
                                                <li><a href="/trading-conditions">Trading Conditions</a></li>
                                                <li><a href="/trading-platforms">Trading Platforms</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">Education</a>
                                            <ul>
                                                <li><a href="/what-is-forex">What is Forex</a></li>
                                                <li><a href="/forex-trading-strategies">Forex Trading Strategies</a></li>
                                                <li><a href="/cfd-trading">CFD Trading</a></li>
                                                <li><a href="/advantages-of-trading-cfds">Advantages of Trading CFDs</a></li>
                                                <li><a href="/risks-of-cfds">Potential Risks of CFD trading</a></li>
                                                <li><a href="/cfd-glossary">CFD Glossary</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">Market Analysis</a>
                                            <ul>
                                                <li><a href="/forex-cross-rates">Forex Cross Rates</a></li>
                                                <li><a href="/economic-calendar">Economic Calendar</a></li>
                                                <li><a href="/trading-charts">Trading Charts</a></li>
                                                <li><a href="/market-analyst">Market Analyst</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <!-- end menu area -->
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <!-- end header section -->

   