<!DOCTYPE html>
<html lang="en">


 

<!-- Mirrored from sidehustlegig.live/trading-conditions/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Feb 2025 07:58:36 GMT -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="forex, auto trading, education, investor,VocaFxTrade,astroy trade,astroy trade.com,VocaFxTrade.com, investment, signals" />
    <meta name="description" content="Best Forex And Cryptocurrency AutoTrading Investment Platform With Professional Traders ">

    <!-- title  -->
    <title>Trading Conditions | VocaFxTrade</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="../img/logos/favicon.png">
      <link rel="shortcut icon" href="https://www.vocafxtrade.com/trading-conditions/favicon.ico" type="image/x-icon">
    <!-- plugins -->
    <link rel="stylesheet" href="../css/plugins.css" />

    <!-- revolution slider css -->
    <link rel="stylesheet" href="../css/rev_slider/settings.css">
    <link rel="stylesheet" href="../css/rev_slider/layers.css">
    <link rel="stylesheet" href="../css/rev_slider/navigation.css">

    <!-- search css -->
    <link rel="stylesheet" href="https://www.vocafxtrade.com/trading-conditions/search/search.html" />

    <!-- custom css -->
    <link href="../css/styles.css" rel="stylesheet" id="colors"> 
</head>

<body>

    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        <!-- start header section -->
        <header>
            <div id="top-bar" style="background:#85c201;">
               <div class="container">
                   <div class="row">
                       <div class="col-md-5 col-xs-12">
                           <div class="top-bar-info">
                               <ul>&nbsp;
                                   <a href="contact-us"><li><i class="fas fa-map-marker-alt"></i>Contact Us</li></a>&nbsp;
                                   <a href="/register"><li><i class="fas fa-user-plus"></i>Create Account</li></a>&nbsp;
                                   <a href="/login"><li><i class="fas fa-sign-in-alt"></i>Sign In</li></a>
                                    
                               </ul>
                           </div>
                       </div>
                       <div class="col-md-7 col-xs-12 xs-display-none">
                           <div class="top-bar-info">
                              <ul>
                                   <li><i class="fas fa-award"></i>An award-winning online broker offering CFDs on forex, Cryptocurrencies, Stocks and lots more.</li>
                               </ul>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

           <div class="navbar-default">

               <div class="container">
                   <div class="row align-items-center">
                       <div class="col-12 col-lg-12">
                           <div class="menu_area alt-font">
                               <nav class="navbar navbar-expand-lg navbar-light no-padding">

                                   <div class="navbar-header navbar-header-custom">
                                       <!-- start logo -->
                                       <a href="#" class="navbar-brand logodefault"><img id="logo" src="img/logos/logo.png" alt="logo"></a>
                                       <!-- end logo -->
                                   </div>

                                   <div class="navbar-toggler"></div> 

                                   <!-- menu area -->
                                   <ul class="navbar-nav ml-auto" id="nav" style="display: none;">

                                       <li><a href="#">Home</a></li>

                                       <li><a href="javascript:void(0)">About</a>
                                           <ul>
                                               <li><a href="/why-forex-boss">Why cryptomininganalyst</a></li>
                                               <li><a href="/contact-us">Contact Us</a></li>
                                               <li><a href="/company-news">Company News</a></li>
                                            
                                               <li><a href="/licences-and-regulation">Licences & Regulation</a></li>
                                               <li><a href="/terms-and-conditions">Terms & Conditions</a></li>
                                               <li><a href="/privacy-policy">Privacy Policy</a></li>
                                               <li><a href="/risk-warning">Risk Warning</a></li>
                                               <li><a href="/safety-of-funds">Safety of Funds</a></li>
                                               <li><a href="/faqs">FAQ</a></li>
                                           </ul>
                                       </li>
                                       <li><a href="javascript:void(0)">Products</a>
                                           <ul>
                                               <li><a href="/forex">Forex</a></li>
                                               <li><a href="/cfds">CFDs</a></li>
                                               <li><a href="/stock">Stock</a></li>
                                               <li><a href="/cryptocurrencies">Cryptocurrencies</a></li>
                                               <li><a href="/metals">Metals</a></li>
                                               <li><a href="/indices">Indices</a></li>
                                               <li><a href="/commodities">Commodities</a></li>
                                               <li><a href="/futures">Futures</a></li>
                                               <li><a href="/shares">Shares</a></li>
                                               <li><a href="/energies">Energies</a></li>
                                               <li><a href="/bonds">Bonds</a></li>
                                           </ul>
                                       </li>
                                       <li><a href="javascript:void(0)">Accounts</a>
                                           <ul>
                                               <li><a href="/account-types">Account Types</a></li>
                                               <li><a href="/">Spreads</a></li>
                                               <li><a href="/deposits-and-withdrawal">Deposits & Withdrawal</a></li>
                                               <li><a href="/trading-conditions">Trading Conditions</a></li>
                                               <li><a href="/trading-platforms">Trading Platforms</a></li>
                                           </ul>
                                       </li>
                                       <li><a href="javascript:void(0)">Education</a>
                                           <ul>
                                               <li><a href="/what-is-forex">What is Forex</a></li>
                                               <li><a href="/forex-trading-strategies">Forex Trading Strategies</a></li>
                                               <li><a href="/cfd-trading">CFD Trading</a></li>
                                               <li><a href="/advantages-of-trading-cfds">Advantages of Trading CFDs</a></li>
                                               <li><a href="/risks-of-cfds">Potential Risks of CFD trading</a></li>
                                               <li><a href="/cfd-glossary">CFD Glossary</a></li>
                                           </ul>
                                       </li>
                                       <li><a href="javascript:void(0)">Market Analysis</a>
                                           <ul>
                                               <li><a href="/forex-cross-rates">Forex Cross Rates</a></li>
                                               <li><a href="/economic-calendar">Economic Calendar</a></li>
                                               <li><a href="/trading-charts">Trading Charts</a></li>
                                               <li><a href="/market-analyst">Market Analyst</a></li>
                                           </ul>
                                       </li>
                                   </ul>
                                   <!-- end menu area -->
                               </nav>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

       </header>
        <!-- end header section -->

        <!-- start service detail section -->
        <section>
            <div class="container">
                <div class="row">

                    <!-- start left side section -->
                    <div class="col-lg-4 col-md-12 padding-50px-right md-padding-30px-right sm-padding-15px-right order-2 order-lg-1">

                        <!-- start services -->
                        <div class="services-single-left-box">
                            <h6 class="font-weight-700 font-size16 sm-font-size14 text-uppercase left-title margin-20px-bottom">Accounts</h6>
                            <div class="services-single-menu bg-light-gray margin-30px-bottom sm-margin-25px-bottom">
                                <ul class="no-margin">
                                    <li><a href="../account-types/index.html">Account Types</a></li>
                                    
                                    <li><a href="../deposits-and-withdrawal/index.html">Deposits & Withdrawal</a></li>
                                    <li class="active"><a href="index.html">Trading Conditions</a></li>
                                    <li><a href="../trading-platforms/index.html">Trading Platforms</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- end services -->

                        <!-- start help -->
                        <div class="bg-img cover-background theme-overlay border-radius-5 margin-30px-bottom sm-margin-25px-bottom" data-overlay-dark="8" data-background="../img/bg/bkimage.html">
                            <div class="position-relative z-index-9 text-center padding-50px-tb md-padding-40px-tb sm-padding-30px-tb padding-30px-lr">
                                <i class="fas fa-headset font-size50 md-font-size46 sm-font-size42 text-white margin-15px-bottom"></i>
                                <h5 class="text-white font-weight-600 margin-5px-bottom">How can we help?</h5>
                                <p class="text-white font-weight-500">Let’s get in touch!!</p>
                                <div class="bg-white separator-line-horrizontal-full opacity3 margin-20px-bottom sm-margin-15px-bottom"></div>
                                <ul class="text-center no-padding no-margin">
								 <li class="text-white margin-5px-bottom"><i class="fa fa-phone font-size16 text-white margin-15px-right"></i><a href="tel:+1 (209) 317 6026" class="text-white">+1 (209) 317 6026</a></li>
                                    
                                    <li class="text-white"><i class="fa fa-envelope-open font-size16 text-white margin-15px-right"></i><a href="mailto:cshrem04@gmail.com" class="text-white">support@VocaFxTrade.com</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- end help -->

                    </div>
                    <!-- end left side section -->

                    <!-- start right side section -->
                    <div class="col-lg-8 col-md-12 order-1 order-lg-2 sm-margin-30px-bottom">
                        <div class="section-heading">
                            <h4>VocaFxTrade Trading Conditions</h4>
                            The following terms and conditions form an integral part of your agreement with VocaFxTrade and shall be read carefully; VocaFxTrade does not bear any liability for clients who fail to comply with them. For more information, please contact us.
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="accordion" class="accordion-style">
                                
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                          Market Watch
                                        </button>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                VocaFxTrade Broker strives to ensure that the market watch is accurate and prices are obtained from several major banks/liquidity providers/exchanges; in case of closure/failure of one or more price provider for any or all CFDs, quotes will be provided which will reflect what the company thinks to be the current Bid and Ask price for each CFD; we do not guarantee that our prices are the best prices available on the world market.<br><br>

                                                The Client agrees hereunder that our market watch is only an indicator of the current world market and any misunderstanding regarding this service must be returned to VocaFxTrade Operations data.<br><br>

                                                Moreover, charts for all traded instruments are drawn according to the default spreads, and may differ from the prices displayed on the market watch according to your account type because of differences in markups.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          Spread
                                        </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                            <div class="card-body">
                                                VocaFxTrade Broker offers clients competitive spreads on all instruments, but may rarely make small increases on some or all instruments; ensuring that it provides the best available market conditions and tightest spreads, since one of our most important objectives is to ensure that your orders are executed at the best market price and that you get the tightest spreads available.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                          Hedging
                                        </button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                            <div class="card-body">
                                                VocaFxTrade allows clients to open positions in the opposite direction of previously opened positions in the trading account, to reduce loss and to decide later when to enter the market.<br><br>

                                                Hedging an instrument by its corresponding Future OTC contract is forbidden (for swap-free accounts), because this represents an attempt to take advantage of the swap free facility and gain profits from swaps, one direction of this kind of hedge must be closed immediately. If the client fails to take action to avoid such practices, VocaFxTrade will, unfortunately, be required to close or take other action (by deducting the swaps retroactively or any other means) on these accounts without further notice.<br><br>

                                                Hedged positions will be held in the trading account without affecting the required margin value, since the required margin is calculated for each instrument according to the net positions opened at a specific moment.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingFour">
                                            <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                          Order Types
                                        </button>
                                            </h5>
                                        </div>
                                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                            <div class="card-body">
                                                <strong>The following orders may be given by the client:</strong> <br>

                                                * OPEN - to open a new position; <br><br>

                                                * CLOSE - to close an open position; <br><br>

                                                * PARTIAL CLOSE - to close a part of an open position at the current market price and keep the remaining lots (part) floating. <br><br>

                                                * MODIFY - to add, remove, edit orders for Stop Loss, Take Profit, Buy Limit, Buy Stop, Sell Limit, Sell Stop. <br><br>

                                                * CLOSE BY - in case hedging is allowed. <br><br>

                                                * Multiple close - to close-hedged positions on a specific instrument <br><br>

                                                * Market orders - orders sent from the client terminal either by the client himself or a plug-in hooked to the client terminal (Expert Advisor), to buy or to sell an instrument at the current market price displayed on the market watch. <br><br>

                                                * Pending orders - this kind of order can be set in the same way used for market orders; but at prices predicted by the trader and may be achieved in the future, like limit, stop, and entry orders. <br><br>

                                                * All pending orders are guaranteed according to the fair market value. <br><br>

                                                * All pending orders are good till cancelled (GTC), unless the client places an expiry time and date on entry orders, or in the event that the financial instrument expires. <br><br>

                                                * All pending orders must be placed with respect to the rules appearing in the contract specifications for each instrument.<br><br>

                                                * Once pending orders are in the process, the system will reject any cancellation or modification attempted during that time. <br><br>

                                                * Pending order conditions may vary during hectic market conditions. <br><br>

                                                * If the market opens with a break off after a weekend or holidays, upon release of important economic and political news, or in the case of force majeure events; orders (sell stop, buy stop, stop loss) are fulfilled at the first available prices in the market. <br><br>

                                                * Even though such situations are not frequent, please be cautious when leaving pending orders for weekends and holidays.<br><br>

                                                * Placing stop orders prior to the release of financial news is not permitted, such orders may be rejected, deleted or filled at the best available market prices at that time.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingFive">
                                            <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                          Futures - OTC
                                        </button>
                                            </h5>
                                        </div>
                                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                            <div class="card-body">
                                                All future trades are classified as market orders, and will be executed according to the market prices provided from its corresponding exchange at the time of execution; in addition, exchange fees may apply. <br><br>

                                                Rollover: Futures-OTC contracts will not be rolled over automatically, neither accepting rollover requests from clients; in the case of any client need to rollover a future-otc position/s, open positions on the current contract can be closed and reopened at the next nearby future-otc contract before the last trading day for each contract. Available Futures instruments: <br><br>

                                                * Indices <br>
                                                * Commodities <br>
                                                * Energies <br><br>

                                                Where margin, contract size, and general contract specifications are displayed in the Markets Section of the website, and updated periodically.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingSix">
                                            <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                          Leverage
                                        </button>
                                            </h5>
                                        </div>
                                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                            <div class="card-body">
                                                Shall mean a ratio in respect of Transaction Size and Initial Margin, 1:100 ratio means that in order to open a position, the Initial Margin required is one percent of the original contract value. <br><br>

                                                The 1 (one) standard lot size is the measurement unit specified for each CFD contract. The possible choice of a leverage rate ranges from 1:1 up to 1:500 depending on the type of the CFD, the amount of trading volume active in the account and at the Company's discretion. At the opening of the Client Account, the leverage rate is set at 1:30 by default. The Client may change the leverage of his Client Account by contacting the Company. The Company has the right to allow a change to the Client Account leverage at the Company's discretion. In addition, the Company may, at its discretion, change the Client Account Leverage without any prior notice to the Client.  <br><br>

                                                Regardless of your account type or the amount of equity you have in your account, the leverage you will be allocated to trade with will be determined by the amount of trading volume you have in active use at any given time.  <br><br>

                                                The default leverage on all accounts is 1:30 based on CySEC regulation. Higher leverage will be available only upon client's request and will be executed at our sole discretion.  <br><br>

                                                Professional accounts will be handled individually and may not follow the above leverage rules.  <br><br>

                                                Utilizing a high level of leverage may extend your trading possibilities and lead to larger gains as well as higher risks; risks might be reduced by following a strict trading strategy at the opening and closure of your transactions. For further information, please talk to a Live Support Representative, or view details in the Contact Us page.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingSeven">
                                            <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                          Margin Requirements
                                        </button>
                                            </h5>
                                        </div>
                                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                                            <div class="card-body">
                                                The client must abide the rules as declared on the VocaFxTrade broker corporate website Contract Specification section for each CFD, including the margin requirements; and the Client shall provide and maintain the Initial Margin within such limits as the Company, at its sole discretion, may determine, set, or update. <br><br>

                                                It is the Client's responsibility to ensure that he understands how a Margin is calculated. <br><br>

                                                VocaFxTrade has the right to amend any entry in the Contract Specifications section for each CFD including margin requirements, and these changes may take effect on both new and existing/open positions/trades; which may be declared through an internal mail message or on the company's corporate website; unless a Force Majeure Event has occurred. <br><br>

                                                In case of a Force Majeure Event, VocaFxTrade has the right to change Margin requirements without prior written notice to the Client. In this situation, the Company has the right to apply new Margin requirements to new positions and to positions which are already open. <br><br>

                                                If the Equity to Margin (necessary margin) ratio falls below 5% at any time, VocaFxTrade has the right to close any or all of the Client's open positions without the Client's consent or any prior written notice. In order to determine if the Client has breached this clause, any sums referred to therein which are not denominated in the Currency of the Client Account shall be treated as if they were denominated in the currency of the Client Account by converting them into the currency of the Client Account at the relevant exchange rate for spot dealings in the foreign exchange market. <br><br>

                                                The Client is responsible for notifying the Company as soon as he believes that he will be unable to meet a Margin payment when due. <br><br>

                                                The Company has no obligation to make Margin Calls for the Client. <br><br>

                                                Where the Company effects or arranges a transaction involving an instrument, the Client should note that, depending upon the nature of the transaction, he may be liable to make further payments when the transaction fails to be completed or upon the earlier settlement or closing out of his position. He may be required to make further variable payments by way of Margin against the purchase price of the instrument, instead of paying (or receiving) the whole purchase (or sale) price immediately. A movement in the market price of the Client's investment will affect the amount of margin payment he will be required to make. The Client agrees to pay the Company on demand such sums by way of margin as are required from time to time under the rules of any relevant Market (if applicable) or as the Company may, at its discretion reasonably require for the purpose of protecting itself against loss or risk of loss on present, future or contemplated transactions under this Agreement.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingEight">
                                            <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                          Slippage
                                        </button>
                                            </h5>
                                        </div>
                                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                                            <div class="card-body">
                                                Slippage involves executing any given trade on a specific price different from the expected price sent or preset by the client. This may take place during highly volatile market conditions such (but not limited to) economic or political news; the order will be filled at the next best available market price because, but not limited to - the desired/preset order price is not available, or because higher spread differences are applied in the corresponding exchanges of the traded instrument. <br><br>

                                                VocaFxTrade does not apply slippage under normal market conditions, and applies it on stop pending entry or liquidation orders during times when VocaFxTrade is closed or when - but not limited to - there is a weekend or bank holiday, international economic events or hectic market movements. In this case, stop orders will be filled on the opening price which VocaFxTrade finds suitable. <br><br>

                                                Clients acknowledge that slippage might occur as per the liquidity providers’ terms and conditions and that this is beyond the control of VocaFxTrade Limited and agrees to waive VocaFxTrade from any liability that may arise subjective to any damage or expense or loss incurred by the Client, in relation to or directly or indirectly arising from but not limited to such terms and conditions.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingNine">
                                            <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                          Delivery
                                        </button>
                                            </h5>
                                        </div>
                                        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                                            <div class="card-body">
                                                Physical acquisition by the client of any traded CFD at a specific delivery point worldwide. <br><br>

                                                VocaFxTrade does not offer delivery for any position held, opened or closed at the trading platform
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingTen">
                                            <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                          Scalping
                                        </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
                                            <div class="card-body">
                                                Scalping is a trading strategy through which the trader (Scalper/Pip Hunter) attempts to take advantage of small price moves and narrow ranges by making many transactions on small price changes over a small time frame. <br><br>

                                                Scalping is allowed on variable spread account types. Please refer to our account types table account types table <br><br>

                                                However, VocaFxTrade does not permit scalping on Fixed spread account types (Classic account). In case VocaFxTrade classifies a Classic account holder as a scalper or a pip hunter, the company may, at its sole discretion, and without a prior written notice, take one of the following actions: <br><br>

                                                * Change the account type to the corresponding variable spread account type <br>

                                                * Terminate this Agreement <br>

                                                * Close out all or any of the Client's open positions at current market prices <br>

                                                * Debit the Client Trading Account(s) for the amounts which are due to the Company <br>

                                                * Close any or all of the Client Trading Accounts held with the Company <br>

                                                * Combine Client Trading Accounts; consolidate the Balances in such Client Accounts and offset those Balances <br>

                                                * Refuse to open new Client Trading Accounts for the Client
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingEleven">
                                            <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                          PIP Hunting
                                        </button>
                                            </h5>
                                        </div>
                                        <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
                                            <div class="card-body">
                                                Shall refer to the situation in which the Client opens a position and closes it in a very short time, usually trading incorrect spikes in the market, or taking advantage of feed indicative prices. <br><br>

                                                VocaFxTrade has the right to take any necessary actions similar to scalping clients, at its sole discretion, and without any prior written notice to protect itself since this action is prohibited.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingTwelve">
                                            <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                          News Trading
                                        </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">
                                            <div class="card-body">
                                                VocaFxTrade allows placing market orders before or during financial news releases. <br><br>

                                                However, placing stop orders prior to the release of financial news is not permitted, such orders may be rejected, deleted or filled at the best available market prices at that time.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingThirteen">
                                            <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                                          Phone Orders
                                        </button>
                                            </h5>
                                        </div>
                                        <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordion">
                                            <div class="card-body">
                                                VocaFxTrade allows trading via phone in case of emergencies; all telephone calls placed through the Dealing Desk are recorded by our recording system; records are kept for 10 days. All conversations concerning price quote requests, order placement and execution, confirmations, and any other trading related issues, are also generally recorded to ensure fairness and accuracy for all parties involved in the delivery and execution of a trading order. <br><br>

                                                <strong>Instructions for placing an order with the dealing desk by phone:</strong> <br><br>

                                                * Call the Dealing Desk. <br>
                                                * Once the telephone is answered, have the following information ready for the dealer who has answered your call: <br>

                                                1. Your Trading account number <br>
                                                2. Your password (for security purposes) <br>
                                                3. Your order details
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingFourteen">
                                            <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                                          Expert Advisors and Trailing Stops (EA / TS)
                                        </button>
                                            </h5>
                                        </div>
                                        <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordion">
                                            <div class="card-body">
                                                <strong>The Expert Advisor and Trailing Stop facilities are activated by default. They must not violate any trading conditions listed, and in addition, the following conditions apply:</strong> <br><br>

                                                * Scalping clients can be used only on variable spread accounts <br><br>

                                                * The client must use the EA in a reasonable manner. All EA users in the fixed spread accounts must not use the EA for frequent trading at news time. Users must understand that by using the EA frequently at news time, they prevent other clients from executing a fair trade. <br><br>

                                                * The Company bears no responsibility when the Client uses additional functionalities of the client trading terminal such as Trailing Stop and/or Expert adviser, which are executed completely under the client’s responsibility, as they depend directly on his trading terminal and the Company bears no responsibility whatsoever. In case where the Company suspects that a Client is using additional functionalities /plug-ins where it affects the reliability and/or smooth operation and/or orderly of the Company’s Trading Platform the Company has the right to terminate the agreement or to cancel/delete those transactions. <br><br>

                                                * The Company will not be liable for any loss or expense incurred by the Client in connection with, or directly or indirectly arising from the acts, omissions or negligence of any third party or any third party software including, but not limited to, Expert advisors, signal providers, social trading platforms, and virtual private network.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingFifteen">
                                            <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                                          Trading Hours
                                        </button>
                                            </h5>
                                        </div>
                                        <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordion">
                                            <div class="card-body">
                                                VocaFxTrade Clients can execute trades 24 hours a day from 00:05 on Monday until 23:30 on Friday (Cyprus Time), except for some instruments which halt at different times such as a break; the trading schedules and more specific information on each instrument is available through our website or within the MT4 platform. We are required to perform maintenance on our servers each night from 23:58 to 00:02 EET ( Eastern European Time ). During this time all trading is halted on the platform.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingSixteen">
                                            <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                                          Execution
                                        </button>
                                            </h5>
                                        </div>
                                        <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#accordion">
                                            <div class="card-body">
                                                VocaFxTrade offers one type of order execution (Market execution) on all account types for corporate and individuals. All orders are filled according to the fair market value.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingSeventeen">
                                            <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                                            System Failure
                                        </button>
                                            </h5>
                                        </div>
                                        <div id="collapseSeventeen" class="collapse" aria-labelledby="headingSeventeen" data-parent="#accordion">
                                            <div class="card-body">
                                                In case of system failure, which may result in a failure to execute an order according to client instructions or failure to execute an order at all; whether it was a scheduled routine system maintenance or server update, or an emergent disconnection by power or network failure or any other reason; clients are kindly advised to contact the dealing desk for any enquiries.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingEighteen">
                                            <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">
                                          Inducement
                                        </button>
                                            </h5>
                                        </div>
                                        <div id="collapseEighteen" class="collapse" aria-labelledby="headingEighteen" data-parent="#accordion">
                                            <div class="card-body">
                                                The client acknowledges that from time to time the Company might pay a fee, commission or provide non-monetary benefits to third parties, in addition to the normal fees and commissions paid by the client. The client agrees that a reference fee may be paid to certain business consultants and introducers who introduce new clients to the Company and help to conclude and maintain the relationship between the Company and these clients. The client accepts that such inducements may be calculated based on several criteria, as for example, according to the trading volume of the client or the hits from the website and/or other digital media channels. Further information on the fee, commission, non-monetary benefit can be provided by the Company upon the client’s request.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingNineteen">
                                            <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
                                          Trailer Note
                                        </button>
                                            </h5>
                                        </div>
                                        <div id="collapseNineteen" class="collapse" aria-labelledby="headingNineteen" data-parent="#accordion">
                                            <div class="card-body">
                                                VocaFxTrade has the right to amend, change, delete, add, and modify spreads, fees, commissions, leverage, account type, margin requirements, liquidation level (stop out level) and any offers for any accounts or any positions, at any time without a prior notice. <br><br>
 
                                                The latest published version of this policy on the English mirror of the company's website shall prevail. <br><br>

                                                These terms are an essential part of the customer trading agreement. Should any clause in the trading policy conflict with a clause or clauses in the customer trading agreement, the clauses herein shall prevail. <br><br>

                                                Amendments in case of a force majeure event shall be applied without prior notice
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingTwenty">
                                            <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty">
                                          Inactive/Dormant Accounts
                                        </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwenty" class="collapse" aria-labelledby="headingTwenty" data-parent="#accordion">
                                            <div class="card-body">
                                                Any account(s), held with VocaFxTrade, without any trading activity and/or accounts that are inactive and or remain non-operational and/or holding zero balance/equity for a period of six (6) months and more, are considered by VocaFxTrade to be Dormant accounts. <br><br>

                                                Such dormant accounts will be subject to relevant charge/cost(s), relating to the maintenance/administration of such accounts. When an account is classified as dormant VocaFxTrade has the right to charge an ‘inactivity fee’ of 20 USD, 20 EUR, 20 GBP or 20 PLN (depending on the base currency of the account holder) per month, which will be charged and debited from the balance of the specific account until the account holder has the required funds available and/or until a zero balance/equity is reached. Such an ‘inactivity fee’ shall not in any case give a minus balance to the account. <br><br>

                                                Any Dormant account which continues to be dormant for a total period of twelve (12) months, is considered to be Closed on the first day after twelve (12) months of no transactions. <br><br>

                                                Both Dormant and Closed accounts will be frozen immediately, and the account holder will not be permitted to undertake any further transaction in such Dormant or Closed account. <br><br>

                                                In order for a Dormant or Closed account to be re-activated the account holder shall proceed with VocaFxTrade' KYC/CDD procedures and by funding his account and conducting at least one (1) trade with the Company.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end right side section -->
                </div>
            </div>
        </section>
        <!-- end service detail section -->


<!-- start footer section -->
<footer>
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-xs-12"> &nbsp;&nbsp;
                <div class="top-bar-info">
                    <ul>
                        
                        <a href="/register"><li><i class="fas fa-user-plus"></i>Create Account</li></a>&nbsp;
                        <a href="/login"><li><i class="fas fa-sign-in-alt"></i>Sign In</li></a>
                    </ul>
                </div>
            </div>
            <br><br><br>
            <div class="col-md-6 col-xs-12"> 
                <img alt="img" src="img/pmbw/btc.jpg" width="47" height="14">
                <img alt="img" src="img/pmbw/net.png" width="50" height="15">
                <img alt="img" src="img/pmbw/skr.png" width="49" height="14">
                <img alt="img" src="img/pmbw/payp.png.jpg" width="42" height="10">
                <img alt="img" src="img/pmbw/mc.png" width="50" height="15">
                <img alt="img" src="img/pmbw/visa.png" width="47" height="14">
                <img alt="img" src="img/pmbw/ame.png" width="47" height="14">
                <img alt="img" src="img/pmbw/dsc.png" width="47" height="15">
                <img alt="img" src="img/pmbw/wu.png" width="47" height="14">
                <img alt="img" src="img/pmbw/mg.png" width="44" height="14">
            </div>
        </div>

        <div class="row sm-display-none">
            <div class="col-lg-12 col-md-6">
                <hr color="#404040" size="0.01">
            </div>
        </div><br>

        <div class="row sm-display-none">
            <div class="col-lg-2">
                <h3 class="text-white">Markets</h3>
                <ul class="footer-list">
                    <li><a href="/forex"><small>Forex</small></a></li>
                    <li><a href="/indices"><small>Indices</small></a></li>
                    <li><a href="/cfds"><small>CFDs</small></a></li>
                    <li><a href="/stock"><small>Stocks</small></a></li>
                    <li><a href="/cryptocurrencies"><small>Cryptocurrencies</small></a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h3 class="text-white">Other Markets</h3>
                <ul class="footer-list">
                    <li><a href="/metals"><small>Metals</small></a></li>
                    <li><a href="/futures"><small>Futures</small></a></li>
                    <li><a href="/energies"><small>Energies</small></a></li>
                    <li><a href="/bonds"><small>Bonds</small></a></li>
                    <li><a href="/commodities"><small>Commodities</small></a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h3 class="text-white">General</h3>
                <ul class="footer-list">
                    <li><a href="/why-forex-boss"><small>Why Us</small></a></li>
                    <li><a href="/privacy-policy"><small>Privacy Policy</small></a></li>
                    <li><a href="/terms-and-conditions"><small>Legal Terms</small></a></li>
                    <li><a href="/risk-warning"><small>Risk Warning</small></a></li>
                    <li><a href="/safety-of-funds"><small>Funds Safety</small></a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h3 class="text-white">General</h3>
                <ul class="footer-list">
                    <li><a href="/contact-us"><small>Contact Us</small></a></li>
                    <li><a href="/company-news"><small>Company News</small></a></li>
                    
                    <li><a href="/faqs"><small>FAQs</small></a></li>
                    <li><a href="/licences-and-regulation"><small>Licences & Regulation</small></a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h3 class="text-white">Trading</h3>
                <ul class="footer-list">
                    <li><a href="/account-types"><small>Account Types</small></a></li>
                    <li><a href="/"><small>Spreads</small></a></li>
                    <li><a href="/trading-conditions"><small>Trading Conditions</small></a></li>
                    <li><a href="/trading-platforms"><small>Trading Platforms</small></a></li>
                    <li><a href="/deposits-and-withdrawal"><small>Deposit/Withdrawal</small></a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h3 class="text-white">Education</h3>
                <ul class="footer-list">
                    <li><a href="/what-is-forex"><small>What is Forex</small></a></li>
                    <li><a href="/forex-trading-strategies"><small>Forex Trading Strategies</small></a></li>
                    <li><a href="/cfd-trading"><small>CFD Trading</small></a></li>
                    <li><a href="/advantages-of-trading-cfds"><small>Advantages of CFDs</small></a></li>
                    <li><a href="/cfd-glossary"><small>CFD Glossary</small></a></li>
                </ul>
            </div>
        </div>
<div class="mgm" style="display: none;">
<div class="txt" style="color:black;">Someone from <b></b> just traded with <a href="javascript:void(0);" onclick="javascript:void(0);"></a></div>
</div>

<style>.mgm {
border-radius: 7px;
position: fixed;
z-index: 90;
bottom: 80px;
right: 50px;
background: #fff;
padding: 10px 27px;
box-shadow: 0px 5px 13px 0px rgba(0,0,0,.3);
}
.mgm a {
font-weight: 700;
display: block;
color:#f2d516;
}
.mgm a, .mgm a:active {
transition: all .2s ease;
color:#f2d516;
}
</style>
<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.html"></script><script type="text/javascript">
var listCountries = ['United Kingdom', 'USA', 'Germany', 'France', 'Italy', 'USA', 'Australia', 'Lesotho', 'Canada', 'Argentina', 'Saudi Arabia', 'Mexico', 'Kenya', 'Maldives', 'Venezuela', 'South Africa', 'Sweden', 'India', 'South Africa', 'Italy', 'Pakistan', 'United Kingdom', 'South Africa', 'Greece', 'Cuba', 'South Africa', 'Portugal', 'Austria', 'South Africa', 'Panama', 'USA', 'South Africa', 'Netherlands', 'Switzerland', 'Belgium', 'Israel', 'Cyprus'];
var listPlans = ['$500','$1500','$1000','$10,000','$2000','$3000','$4000', '$600', '$700', '$2500'];
interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
var run = setInterval(request, interval);

function request() {
clearInterval(run);
interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
var country = listCountries[Math.floor(Math.random() * listCountries.length)];
var plan = listPlans[Math.floor(Math.random() * listPlans.length)];
var msg = 'Someone from <b>' + country + '</b> just Withdrew <strong href="javascript:void(0);" onclick="javascript:void(0);">' + plan + ' </strong>';
$(".mgm .txt").html(msg);
$(".mgm").stop(true).fadeIn(2);
window.setTimeout(function() {
    $(".mgm").stop(true).fadeOut(100);
}, 8000);
run = setInterval(request, interval);
}
</script>


<div class="mgm" style="display: none;">
<div class="txt" style="color:black;">Someone from <b></b> just traded with <a href="javascript:void(0);" onclick="javascript:void(0);"></a></div>
</div>

<style>.mgm {
border-radius: 7px;
position: fixed;
z-index: 90;
bottom: 80px;
right: 50px;
background: #fff;
padding: 10px 27px;
box-shadow: 0px 5px 13px 0px rgba(0,0,0,.3);
}
.mgm a {
font-weight: 700;
display: block;
color:#f2d516;
}
.mgm a, .mgm a:active {
transition: all .2s ease;
color:#f2d516;
}
</style>
<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.html"></script><script type="text/javascript">
var listCountries = ['London', 'Carlifornia', 'Germany', 'France', 'Italy', 'USA', 'Australia', 'Lesotho', 'Canada', 'Argentina', 'Saudi Arabia', 'Mexico', 'Kenya', 'Maldives', 'Venezuela', 'Soweto', 'Sweden', 'India', 'South Africa', 'Italy', 'Pakistan', 'United Kingdom', 'South Africa', 'Greece', 'Cuba', 'South Africa', 'Delhi', 'Austria', 'South Africa', 'Panama', 'USA', 'South Africa', 'Netherlands', 'Switzerland', 'Belgium', 'Israel', 'Cyprus'];
var listPlans = ['$2008','$5002','$1000','$2015','$8123','$3020','$402', '$600', '$700', '$2500'];
interval = Math.floor(Math.random() * (30000 - 12000 + 1) + 12000);
var run = setInterval(request, interval);

function request() {
clearInterval(run);
interval = Math.floor(Math.random() * (30000 - 12000 + 1) + 12000);
var country = listCountries[Math.floor(Math.random() * listCountries.length)];
var plan = listPlans[Math.floor(Math.random() * listPlans.length)];
var msg = 'Someone from <b>' + country + '</b> just Won <strong href="javascript:void(0);" onclick="javascript:void(0);">' + plan + ' </strong>';
$(".mgm .txt").html(msg);
$(".mgm").stop(true).fadeIn(2);
window.setTimeout(function() {
    $(".mgm").stop(true).fadeOut(100);
}, 8000);
run = setInterval(request, interval);
}
</script>

<style>.mgm {
border-radius: 7px;
position: fixed;
z-index: 90;
bottom: 80px;
right: 50px;
background: #fff;
padding: 10px 27px;
box-shadow: 0px 5px 13px 0px rgba(0,0,0,.3);
}
.mgm a {
font-weight: 700;
display: block;
color:#f2d516;
}
.mgm a, .mgm a:active {
transition: all .2s ease;
color:#f2d516;
}
</style>
<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.html"></script><script type="text/javascript">
var listCountries = ['United Kingdom', 'USA', 'Germany', 'France', 'Italy', 'USA', 'Australia', 'Lesotho', 'Canada', 'Argentina', 'Saudi Arabia', 'Mexico', 'Kenya', 'Maldives', 'Venezuela', 'South Africa', 'Sweden', 'India', 'South Africa', 'Italy', 'Pakistan', 'United Kingdom', 'South Africa', 'Greece', 'Cuba', 'South Africa', 'Portugal', 'Austria', 'South Africa', 'Panama', 'USA', 'South Africa', 'Netherlands', 'Switzerland', 'Belgium', 'Israel', 'Cyprus'];
var listPlans = ['$500','$1500','$1000','$10,000','$2000','$3000','$4000', '$600', '$700', '$2500'];
interval = Math.floor(Math.random() * (40000 - 12000 + 1) + 8000);
var run = setInterval(request, interval);

function request() {
clearInterval(run);
interval = Math.floor(Math.random() * (40000 - 12000 + 1) + 12000);
var country = listCountries[Math.floor(Math.random() * listCountries.length)];
var plan = listPlans[Math.floor(Math.random() * listPlans.length)];
var msg = 'Someone from <b>' + country + '</b> just Withdrew <strong href="javascript:void(0);" onclick="javascript:void(0);">' + plan + ' </strong>';
$(".mgm .txt").html(msg);
$(".mgm").stop(true).fadeIn(2);
window.setTimeout(function() {
    $(".mgm").stop(true).fadeOut(100);
}, 8000);
run = setInterval(request, interval);
}
</script>


        <div class="row sm-display-none">
            <div class="col-lg-12 col-md-6">
                <hr color="#404040" size="0.01">
            </div>
        </div>

        <div class="row" style="text-align: center;">
            <div class="col-lg-12 col-md-6">
                <small><strong>Risk Warning :</strong> Trading foreign exchange on margin carries a high level of risk, and may not be suitable for all investors. Before deciding to trade foreign exchange, you should carefully consider your investment objectives, level of experience, and risk appetite. There is a possibility that you may sustain a loss of some or all of your investment and therefore you should not invest money that you cannot afford to lose. You should be aware of all the risks associated with foreign exchange trading, and seek advice from an independent financial advisor if you have any doubts.</small>
            </div>
        </div>

    </div>
    <div class="footer-bar">
        <div class="container">
            <p>cryptomininganalyst &copy; 2021</p>
        </div>
    </div>
</footer>
        <!-- end footer section -->

    </div>
    <!-- end main-wrapper section -->

    <!-- start scroll to top -->
    <a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    <!-- jquery -->
    <script src="../js/jquery.min.js"></script>

    <!-- modernizr js -->
    <script src="../js/modernizr.js"></script>

    <!-- bootstrap -->
    <script src="../js/bootstrap.min.js"></script>

    <!-- navigation -->
    <script src="../js/nav-menu.js"></script>

    <!-- serch -->
    <script src="https://www.vocafxtrade.com/trading-conditions/search/search-2.html"></script>

    <!-- tab -->
    <script src="../js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="../js/owl.carousel.js"></script>

    <!-- jquery.counterup.min -->
    <script src="../js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="../js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="../js/waypoints.min.js"></script>

    <!-- tab js -->
    <script src="../js/tabs.min.js"></script>

    <!-- countdown js -->
    <script src="../js/countdown.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="../js/jquery.magnific-popup.min.js"></script>

    <!-- isotope.pkgd.min js -->
    <script src="../js/isotope.pkgd.min.js"></script>

    <!--  chart js -->
    <script src="../js/chart.min.js"></script>

    <!-- revolution slider js files start -->
    <script src="../js/rev_slider/jquery.themepunch.tools.min.js"></script>
    <script src="../js/rev_slider/jquery.themepunch.revolution.min.js"></script>
    <script src="../js/rev_slider/extensions/revolution.extension.actions.min.js"></script>
    <script src="../js/rev_slider/extensions/revolution.extension.carousel.min.js"></script>
    <script src="../js/rev_slider/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="../js/rev_slider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="../js/rev_slider/extensions/revolution.extension.migration.min.js"></script>
    <script src="../js/rev_slider/extensions/revolution.extension.navigation.min.js"></script>
    <script src="../js/rev_slider/extensions/revolution.extension.parallax.min.js"></script>
    <script src="../js/rev_slider/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="../js/rev_slider/extensions/revolution.extension.video.min.js"></script>
    <!-- revolution slider js files end -->

    <!-- map js -->
    <script src="../js/map.js"></script>

    <!-- custom scripts -->
    <script src="../js/main.js"></script>

    <!-- contact form scripts -->
    <script src="../js/mailform/jquery.form.min.js"></script>
    <script src="../js/mailform/jquery.rd-mailform.min.c.js"></script>

    <!-- all js include end -->
    
  

</body>

 

<!-- Mirrored from sidehustlegig.live/trading-conditions/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Feb 2025 07:58:36 GMT -->
</html> 